<section class="hero is-info is-medium is-bold" xmlns="">
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="../">
            <img src="../assets/luud.png" alt="Logo">
          </a>
          <span class="navbar-burger burger" data-target="navbarMenu">
              <span></span>
              <span></span>
              <span></span>
            </span>
        </div>
        <div id="navbarMenu" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item is-active">
              Home
            </a>
            <a class="navbar-item">
              Examples
            </a>
            <a class="navbar-item">
              Documentation
            </a>
          </div>
        </div>
      </div>
    </nav>
  </div>
</section>

<section class="container">
  <div class="column is-12">
    <h2 class="title">Skills</h2><br>
  </div>
  <div class="columns features">
    <div class="column is-4">
      <div class="card">
        <div class="card-image has-text-centered">
          <i class="fa fa-paw"></i>
        </div>
        <div class="card-content"> Test</div>
      </div>
    </div>
  </div>
</section>
