<section class="hero is-info is-medium is-bold" xmlns="">
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="../">
            <img src="../assets/luud.png" alt="Logo">
          </a>
          <span class="navbar-burger burger" data-target="navbarMenu">
              <span></span>
              <span></span>
              <span></span>
            </span>
        </div>
        <div id="navbarMenu" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item is-active">
              Home
            </a>
            <a class="navbar-item">
              Examples
            </a>
            <a class="navbar-item">
              Documentation
            </a>
          </div>
        </div>
      </div>
    </nav>
  </div>
</section>

<section class="container">
  <div class="column is-12">
    <h1 class="title">Skills</h1>
  </div>
  <div class="columns">
    <div class="column is-3">
      <div class="card">
        <div class="card-image has-text-centered">
          <img src="../assets/img/angular.png">
        </div>
        <div class="card-content">
          <div class="content">
            <h1>Angular</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-3">
      <div class="card">
        <div class="card-image has-text-centered">
          <img src="../assets/img/html5.png">
        </div>
        <div class="card-content">
          <div class="content">
            <h1>HTML 5</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-3">
      <div class="card">
        <div class="card-image has-text-centered">
          <img src="../assets/img/css3.png">
        </div>
        <div class="card-content">
          <div class="content">
            <h1>CSS 3</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-3">
      <div class="card">
        <div class="card-image has-text-centered">
          <img src="../assets/img/js.png">
        </div>
        <div class="card-content">
          <div class="content">
            <h1>Javascript</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="columns">
    <div class="column is-3">
      <div class="card">
        <div class="card-image has-text-centered">
          <img src="../assets/img/nodejs.png">
        </div>
        <div class="card-content">
          <div class="content">
            <h1>Node.js</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-3">
      <div class="card">
        <div class="card-image has-text-centered">
          <img src="../assets/img/mysql.png">
        </div>
        <div class="card-content">
          <div class="content">
            <h1>MySQL</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-3">
      <a>
        <div class="card">
          <div class="card-image has-text-centered">
            <img src="../assets/img/csharp.png">
          </div>
          <div class="card-content">
            <div class="content">
              <h1>C#</h1>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="column is-3">
      <div class="card">
        <div class="card-image has-text-centered">
          <img src="../assets/img/java.png">
        </div>
        <div class="card-content">
          <div class="content">
            <h1>Java</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="columns">
    <div class="column is-3">
      <div class="card">
        <div class="card-image has-text-centered">
          <img src="../assets/img/php.png">
        </div>
        <div class="card-content">
          <div class="content">
            <h1>PHP</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-3">
      <div class="card">
        <div class="card-image has-text-centered">
          <img src="../assets/img/linux.png">
        </div>
        <div class="card-content">
          <div class="content">
            <h1>Linux</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
