<section class="hero is-info is-medium is-bold">
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="../">
            <img src="../assets/luud.png" alt="Logo">
          </a>
          <span class="navbar-burger burger" data-target="navbarMenu">
              <span></span>
              <span></span>
              <span></span>
            </span>
        </div>
        <div id="navbarMenu" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item is-active">
              Projects
            </a>
            <a class="navbar-item">
              Skills
            </a>
            <a class="navbar-item">
              Languages
            </a>
            <a class="navbar-item">
              Contact
            </a>
          </div>
        </div>
      </div>
    </nav>
  </div>
</section>

<section class="container">
  <div class="intro column is-12">
    <h1 class="title">Projects</h1>
  </div>
  <div class="columns">
    <div class="column is-4">
      <div class="card">
        <div class="card-image has-text-centered">
          <img src="../assets/img/nodechat.png">
        </div>
        <div class="card-content">
          <div class="content">
            <h1>Node socket chat</h1>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec semper metus, fermentum faucibus metus.
            Morbi sagittis arcu a lorem elementum rutrum. Donec hendrerit sapien at ligula vulputate faucibus.
            Vestibulum fermentum venenatis sem quis finibus. Curabitur vitae ipsum pellentesque, maximus turpis nec,
            condimentum nulla. Proin consectetur elit nec orci posuere, volutpat convallis turpis pretium. Mauris
            cursus, ligula id laoreet molestie, turpis erat consequat tellus, eu aliquet velit justo eget ipsum.
            Suspendisse ac viverra massa. Nulla convallis enim vitae malesuada euismod.
          </div>
        </div>
      </div>
    </div>
    <div class="column is-4">
      <div class="card">
        <div class="card-image has-text-centered">
          <img src="../assets/img/nodechat.png">
        </div>
        <div class="card-content">
          <div class="content">
            <h1>Project 1</h1>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec semper metus, fermentum faucibus metus.
            Morbi sagittis arcu a lorem elementum rutrum. Donec hendrerit sapien at ligula vulputate faucibus.
            Vestibulum fermentum venenatis sem quis finibus. Curabitur vitae ipsum pellentesque, maximus turpis nec,
            condimentum nulla. Proin consectetur elit nec orci posuere, volutpat convallis turpis pretium. Mauris
            cursus, ligula id laoreet molestie, turpis erat consequat tellus, eu aliquet velit justo eget ipsum.
            Suspendisse ac viverra massa. Nulla convallis enim vitae malesuada euismod.
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="intro column is-12">
    <h1 class="title">Skills</h1>
  </div>
  <div class="columns">
    <div class="column is-3">
      <div class="card">
        <div class="card-image has-text-centered">
          <img src="../assets/img/angular.png">
        </div>
        <div class="card-content">
          <div class="content">
            <h1>Angular</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-3">
      <div class="card">
        <div class="card-image has-text-centered">
          <img src="../assets/img/html5.png">
        </div>
        <div class="card-content">
          <div class="content">
            <h1>HTML 5</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-3">
      <div class="card">
        <div class="card-image has-text-centered">
          <img src="../assets/img/css3.png">
        </div>
        <div class="card-content">
          <div class="content">
            <h1>CSS 3</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-3">
      <div class="card">
        <div class="card-image has-text-centered">
          <img src="../assets/img/js.png">
        </div>
        <div class="card-content">
          <div class="content">
            <h1>Javascript</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="columns">
    <div class="column is-3">
      <div class="card">
        <div class="card-image has-text-centered">
          <img src="../assets/img/nodejs.png">
        </div>
        <div class="card-content">
          <div class="content">
            <h1>Node.js</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-3">
      <div class="card">
        <div class="card-image has-text-centered">
          <img src="../assets/img/mysql.png">
        </div>
        <div class="card-content">
          <div class="content">
            <h1>MySQL</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-3">
      <a>
        <div class="card">
          <div class="card-image has-text-centered">
            <img src="../assets/img/csharp.png">
          </div>
          <div class="card-content">
            <div class="content">
              <h1>C#</h1>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="column is-3">
      <div class="card">
        <div class="card-image has-text-centered">
          <img src="../assets/img/java.png">
        </div>
        <div class="card-content">
          <div class="content">
            <h1>Java</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="columns">
    <div class="column is-3">
      <div class="card">
        <div class="card-image has-text-centered">
          <img src="../assets/img/php.png">
        </div>
        <div class="card-content">
          <div class="content">
            <h1>PHP</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-3">
      <div class="card">
        <div class="card-image has-text-centered">
          <img src="../assets/img/linux.png">
        </div>
        <div class="card-content">
          <div class="content">
            <h1>Linux</h1>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="intro column is-12">
    <h1 class="title">Languages</h1>
  </div>
  <div class="column is-12">
    <div class="card">
      <div class="card-content">
        <div class="content languages">
          <div class="language-holder">
            <b>Dutch</b>
            <span class="stars">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
          </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column is-12">
    <div class="card">
      <div class="card-content">
        <div class="content languages">
          <b>English</b>
          <span class="stars">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="column is-12">
    <div class="card">
      <div class="card-content">
        <div class="content languages">
          <b>German</b>
          <span class="stars">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="intro column is-12">
    <h1 class="title">Contact</h1>
  </div>
  <div class="columns">
    <div class="column is-3">
      <a href="https://www.linkedin.com/in/luudvankeulen/">
        <div class="card">
          <div class="card-image has-text-centered">
            <img src="../assets/img/linkedin.png">
          </div>
          <div class="card-content">
            <div class="content">
              <h1>LinkedIn</h1>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="column is-3">
      <a href="https://www.facebook.com/luudvankeulen">
        <div class="card">
          <div class="card-image has-text-centered">
            <img src="../assets/img/facebook.png">
          </div>
          <div class="card-content">
            <div class="content">
              <h1>Facebook</h1>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="column is-3">
      <a href="https://github.com/luudvkeulen">
        <div class="card">
          <div class="card-image has-text-centered">
            <img src="../assets/img/github.png">
          </div>
          <div class="card-content">
            <div class="content">
              <h1>Github</h1>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="column is-3">
      <a href="mailto:luudvkeulen@gmail.com">
        <div class="card">
          <div class="card-image has-text-centered">
            <img src="../assets/img/mail.png">
          </div>
          <div class="card-content">
            <div class="content">
              <h1>Mail</h1>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>

<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      Luud van Keulen - luudvkeulen@gmail.com - 2017
    </div>
  </div>
</footer>
