/* You can add global styles to this file, and also import other style files */
html, body {
  background: #EFF3F4;
  font-family: 'Open Sans', serif;
}

.hero-body .container {
  max-width: 700px;
}

.hero-body .title {
  color: hsl(192, 17%, 99%) !important;
}

.hero-body .subtitle {
  color: hsl(192, 17%, 99%) !important;
  padding-top: 2rem;
  line-height: 1.5;
}

.features {
  padding: 5rem 0;
}

.box.cta {
  border-radius: 0;
  border-left: none;
  border-right: none;
}

.card-image > .fa {
  font-size: 8rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #209cee;
}

.card-content .content {
  font-size: 14px;
  margin: 1rem 1rem;
}

.card-content .content h4 {
  font-size: 16px;
  font-weight: 700;
}

.card {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
  margin-bottom: 2rem;
}

.intro {
  padding: 5rem 0;
  text-align: center;
}

.sandbox {
  padding: 5rem 0;
}

.tile.notification {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.hero.is-info.is-bold {
  background: #0575E6; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #021B79, #0575E6); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #021B79, #0575E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  margin-bottom: 1.5rem;
  box-shadow: 0 2px 3px rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .1);
}

.card-image img {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 1.5rem;
}

.card-content h1 {
  font-weight: bold;
  text-align: center;
}

.card-content .content {
  margin: 0;
}

.content h1 {
  margin-bottom: 0;
}

.card {
  margin-bottom: 0;
}

.intro {
  padding: 2.5rem 0;
}

.card-content .languages {
  font-size: 24px;
  text-align: center;
}

.stars {
  margin-left: 25px;
}

.footer {
  padding: 15px;
}

@media screen and (max-width: 1024px) {
  .container {
    margin: 0 10px;
  }
}
